@{
    ViewData["Title"] = "KayitMesaji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebProjeOdev.Models.Kullanici

<div class="text-center">
    <h2>Kaydın oldu @Model.KullaniciAdi</h2>
    <h4>
        Müşteri Kaydı Başarılı
    </h4>
</div>



